body {
    font-size: 3vw;
}
h2 {
    color: red;
}

.thumbnail_gird {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumbnail {
    width: 100%;
}

#stat_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-top: 1px solid gray;
    border-bottom: 1px gray solid;

    margin-bottom: 5px;
    margin-top: 5px;
}

.stat {
    text-align: center;
}

#profile {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

#profile_pic {
    width: 20vw;
    height: 20vw;
}

#profile_info {
    display: grid;
    grid-template-rows: 1fr 1fr;

    height: 15vw;

    margin-left: 3vw;
}

.highlight_pic {
    width: 20vw;
    height: 20vw;

    margin-left: auto;
    margin-right: auto;
}

.circle_pic {
    width: 100%;
    height: 100%;

    border: solid white 0.3vw;
    border-radius: 20vw;
    object-fit: cover;
}

#highlight_area {
    display: grid;
    grid-template-columns: 22vw 22vw 1fr;
}

.highlight {
    text-align: center;
}

#id {
    font-size: 4.5vw;
    font-weight: 1000;
}

#id i {
    color: black;
}

button {
    height: 120%;
    width: 95%;

    font-size: 3vw;
    font-weight: bold;
    background-color: white;
    border: solid rgb(99, 208, 251) 0.3vw;
    border-radius: 3vw;
}

#top {
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;

    height: 5vw;
    min-height:5vw;

    border-bottom: solid gray 0.05vw;

    margin-bottom: 2vw;
    margin-top: 2vw;
}

#top img {
    height: 100%;
    margin-left: 2vw;
    object-fit: contain;
}

#top input {
    height: 90%;
    width: 80%;

    font-size: 3vw;
    font-weight: bold;

    background-color: white;
    border: solid rgb(155, 255, 4) 0.3vw;
    border-radius: 2vw;

    margin-left:5vw;
    margin-bottom:1vw;
}

i {
    color: gray;
}

#top i {
    font-size: 3.5vw;
}

#top div {
    text-align: center;
    padding-top: 0.2vw;
}
#sub_icons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    text-align: center;
    font-size: 5vw;

    height: 8vw;
}
.selected {
    border-bottom: solid gray 3px;
}